<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>

    <div class="input boolean optional">
      <label class="boolean optional checkbox" for="add_white_techniques">
        <input class="boolean optional" id="add_white_techniques" name="add_white_techniques" type="checkbox" value="1">
        Add white belt techniques (in danish)
      </label>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
