<div class="notes">
  <h2>Notes</h2>

  <div class="notes__list">
    <% if notes.present? %>
      <ul>
        <% notes.each do |note| %>
          <li>
            <%= simple_format note.text %>

            <div class="notes__list__meta">
              <%= render partial: "shared/note_meta", locals: { note: note } %>

              <%= content_tag :p, "This note is a question" if note.question? %>
            </div>

            <% if @technique.user == current_user %>
              <div class="notes__list__controls">
                <%= link_to "Edit note", edit_technique_note_path(@technique, note), class: "button button--small" %>
                <%= link_to "Delete note", technique_note_path(@technique, note), method: :delete, class: "button button--small", data: { confirm: "Sure?" } %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      There are no notes for this technique
    <% end %>
  </div>
</div>
