<ul class="techniques--list">
  <% techniques.each do |technique| %>
    <% present technique do |technique_presenter| %>
      <li>
        <%= technique_presenter.link %>

        <%= render partial: "peek_link", locals: { technique: technique } %>

        <%= technique_presenter.human_note_count if technique.notes_count > 0 %>

        <a class="inline-edit icon-edit" href="#">
          <span class="screen-reader-text">
            Edit
          </span>
        </a>

        <div class="technique__description">
          <%= markdown technique.description %>
        </div>

        <div class="rest-in-place"
             data-url="<%= technique_path technique %>"
             data-attribute="description"
             data-placeholder="Enter a description"
             data-formtype="textarea"
             data-object="technique">
          <%= simple_format technique.description %>
        </span>
      </li>
    <% end %>
  <% end %>
</ul>
