<%= render layout: "shared/controls" do %>
  <div class="controls__primary">
    <%= link_to "Add new", new_technique_path, class: "button" %>
  </div>

  <%= link_to "Add multiple", multiple_new_techniques_path, class: "button" %>
  <%= render "grouping_select" if @page.has_techniques? %>
<% end %>

<% cache [current_user, (params[:group_by] || @default_grouping), "techniques"] do %>
  <div class="techniques">
    <% if @page.has_techniques? %>
      <% @page.techniques.each do |first_group_name, second_group| %>
        <div>
          <h1><%= first_group_name %></h1>

          <% second_group.each do |second_group_name, techniques| %>
            <div>
              <h2><a href="#" class="toggle-techniques icon-arrow-right-after"><%= second_group_name %></a></h2>
              <%= render "peek_all_link" %>
              <%= render partial: "technique_list", locals: { techniques: techniques } %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      You have no techniques yet
    <% end %>
  </div>
<% end %>
