<%= render layout: "shared/controls", locals: { heading: "Techniques" } do %>
  <%= link_to "+", new_technique_path, class: "button" %>
  <%= link_to "+++", multiple_new_techniques_path, class: "button" %>
<% end %>

<%= render "grouping_select" if @techniques.present? %>

<% cache [current_user, (params[:group_by] || @default_grouping), "techniques"] do %>
  <div class="techniques">
    <% if @techniques.present? %>
      <% @techniques.each do |first_group_name, second_group| %>
        <div>
          <h1><%= first_group_name %></h1>

          <% second_group.each do |second_group_name, techniques| %>
            <div>
              <h2><a href="#" class="toggle-techniques icon-arrow-right-after"><%= second_group_name %></a></h2>
              <%= render "peek_all_link" %>
              <%= render partial: "technique_list", locals: { techniques: techniques } %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      You have no techniques yet
    <% end %>
  </div>
<% end %>
