<% if @techniques.present? %>
  <select name="groupings">
    <option>Choose grouping</option>
    <option value="category-belt" <%= if params[:group_by] == 'category-belt' then "selected" end %>>Category then belt</option>
    <option value="belt-category" <%= if params[:group_by] == 'belt-category' then "selected" end %>>Belt then category</option>
  </select>
<% end %>

<div class="techniques">
  <% if @techniques.present? %>
    <% @techniques.each do |first_group_name, second_group| %>
      <div>
        <h1><%= first_group_name %></h1>

        <% second_group.each do |second_group_name, techniques| %>
          <div>
            <h2><a href="#" class="toggle-techniques icon-arrow-right-after"><%= second_group_name %></a></h2>
            <a class="peek__link--all icon-eye" href="#">
              <span class="screen-reader-text">
                Peek all
              </span>
            </a>

            <ul>
              <% techniques.each do |technique| %>
                <li>
                  <%= link_to technique.name, technique %>

                  <a class="peek__link icon-eye" data-technique-id="<%= technique.id %>" href="#">
                    <span class="screen-reader-text">
                      Peek
                    </span>
                  </a>

                  <div class="technique__description">
                    <%= simple_format technique.description %>
                  </div>

                  <% if technique.notes_count > 0 %>
                    <span class="note-count">
                      (<%= pluralize(technique.notes_count, "note") %>)
                    </span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    You have no techniques yet
  <% end %>
</div>
