<div>
  Choose grouping:
  <select name="groupings">
    <option value="category-belt" <%= if params[:group_by] == 'category-belt' then "selected" end %>>Category then belt</option>
    <option value="belt-category" <%= if params[:group_by] == 'belt-category' then "selected" end %>>Belt then category</option>
  </select>
</div>

<div class="techniques">
  <% if @techniques.present? %>
    <% @techniques.each do |first_group_name, second_group| %>
      <div>
        <h1><%= first_group_name %></h1>

        <% second_group.each do |second_group_name, techniques| %>
          <div>
            <h2><a href="#" class="toggle-techniques"><%= second_group_name %></a></h2>

            <ul>
              <% techniques.each do |technique| %>
                <li><%= link_to technique.name, technique %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    You have no techniques yet
  <% end %>
</div>
