<h1><%= @technique.name %></h1>

<p>Category: <%= @technique.category.name %></p>
<p>Belt: <%= @technique.belt.pretty_print %></p>

<%= simple_format @technique.description %>

<% if @technique.user == current_user %>
  <div>
    <%= link_to "Edit", edit_technique_path(@technique) %>
    <%= link_to "Delete", @technique, method: :delete, data: { confirm: "Sure?" } %>
  </div>
<% end %>

<% if @technique.user == current_user %>
  <hr>

  <%= simple_form_for [@technique, @new_note] do |f| %>
    <%= f.input :text, label: "Note text" %>
    <%= f.button :submit %>
  <% end %>
<% end %>

<hr>

<% if @notes.present? %>
  <ul>
    <% @notes.each do |note| %>
      <li>
        <%= simple_format note.text %>
        <p>
          Created <%= note.created_at.to_formatted_s(:short) %>
          (<%= time_ago_in_words note.created_at %> ago)
        </p>
        <% if @technique.user == current_user %>
          <p>
            <%= link_to "Edit note", edit_technique_note_path(@technique, note) %>
            <%= link_to "Delete note", technique_note_path(@technique, note), method: :delete, data: { confirm: "Sure?" } %>
          </p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  There are no notes for this technique
<% end %>
