<h1><%= @technique.name %></h1>

<p>Category: <%= @technique.category.name %></p>
<p>Belt: <%= @technique.belt.pretty_print %></p>

<%= simple_format @technique.description %>

<% if @technique.user == current_user %>
  <div>
    <%= link_to "Edit", edit_technique_path(@technique) %>
    <%= link_to "Delete", @technique, method: :delete, data: { confirm: "Sure?" } %>
  </div>
<% end %>
