<h1><%= @technique.name %></h1>

<p>Category: <%= @technique.category.name %></p>
<p>Belt: <%= @technique.belt.pretty_print %></p>

<%= simple_format @technique.description %>

<% if @technique.user == current_user %>
  <div>
    <%= link_to "Edit", edit_technique_path(@technique) %>
    <%= link_to "Delete", @technique, method: :delete, data: { confirm: "Sure?" } %>
  </div>
<% end %>

<hr>

<%= simple_form_for [@technique, @new_note] do |f| %>
  <%= f.input :text, label: "Note text" %>
  <%= f.button :submit %>
<% end %>

<hr>

<% if @notes.present? %>
  <ul>
    <% @notes.each do |note| %>
      <li>
        <%= note.text %><br>
        Created <%= note.created_at.to_formatted_s(:short) %>
        (<%= time_ago_in_words note.created_at %> ago)
      </li>
    <% end %>
  </ul>
<% else %>
  There are no notes for this technique
<% end %>
