<h1><%= @technique.name %></h1>

<p>Category: <%= @technique.category.name %></p>
<p>Belt: <%= @technique.belt.pretty_print %></p>

<%= simple_format @technique.description %>

<% if @technique.user == current_user %>
  <div>
    <%= link_to "Edit", edit_technique_path(@technique) %>
    <%= link_to "Delete", @technique, method: :delete, data: { confirm: "Sure?" } %>
  </div>
<% end %>

<%= simple_form_for [@technique, @new_note] do |f| %>
  <%= f.input :text, label: "Note text" %>
  <%= f.button :submit %>
<% end %>

<% if @notes.present? %>
  <% @notes.each do |note| %>
    <%= note.text %>
  <% end %>
<% else %>
  There are no notes for this technique
<% end %>
