<% if @technique.user == current_user %>
  <%= render layout: "shared/controls" do %>
    <%= link_to "Edit", edit_technique_path(@technique), class: "button" %>

    <%= link_to "Delete", @technique, method: :delete, class: "button button--red", data: { confirm: "Sure?" } %>
  <% end %>
<% end %>

<% cache [current_user, @technique] do %>
  <% present @technique do |technique_presenter| %>
    <h1><%= technique_presenter.name %></h1>

    <div class="technique__description">
      <%= simple_format technique_presenter.description %>
    </div>

    <dl>
      <dt>Category</dt>
      <dd><%= @technique_cache.category_name %></dd>

      <dt>Belt</dt>
      <dd><%= @technique_cache.belt_pretty_print %></dd>

      <dt>Created</dt>
      <dd><%= technique_presenter.timestamp %></dd>

      <% present technique_presenter.user do |user_presenter| %>
        <dt>Added by</dt>
        <dd><%= user_presenter.link_to_user %></dd>
      <% end %>
    </dl>

    <%= render partial: "notes_list", locals: { notes: @notes } %>
  <% end %>
<% end %>
