<div class="controls">
  <h1 class="controls__heading">
    <%= @user.s %> profile
  </h1>

  <% if current_user == @user %>
    <div class="controls__container">
      <%= link_to "Edit information", edit_user_path(@user), class: "button button--small" %>
      <%= link_to "Delete account", @user, method: :delete, class: "button button--small", data: { confirm: "Sure?" } %>
    </div>
  <% end %>
</div>

<dl>
  <dt>Name</dt>
  <dd><%= "#{@user.first_name} #{@user.last_name}" || 'n\a' %><br></dd>

  <dt>Email</dt>
  <dd><a href="mailto:<%= @user.email %>"><%= @user.email %></a></dd>
</dl>

<h2>Quick stats</h2>
<dl>
  <dt>Number of techniques</dt>
  <dd><%= @user.techniques.count %></dd>

  <dt>Number of notes</dt>
  <dd><%= @user.notes.count %></dd>

  <dt>Joined</dt>
  <dd><%= timestamp @user %></dd>
</dl>
