<% present @user do |user_presenter| %>
  <div class="controls">
    <h1 class="controls__heading">
      <%= user_presenter.name_with_s %> profile
    </h1>

    <% if current_user == @user %>
      <div class="controls__container">
        <%= user_presenter.edit_link %>
        <%= user_presenter.destroy_link %>
      </div>
    <% end %>
  </div>

  <dl>
    <dt>Name</dt>
    <dd><%= user_presenter.name %></dd>

    <dt>Email</dt>
    <dd><%= user_presenter.mailto_link %></dd>
  </dl>

  <h2>Quick stats</h2>
  <dl>
    <dt>Number of techniques</dt>
    <dd><%= user_presenter.techniques_count %></dd>

    <dt>Number of notes</dt>
    <dd><%= user_presenter.notes_count %></dd>

    <dt>Joined</dt>
    <dd><%= user_presenter.timestamp %></dd>
  </dl>
<% end %>
