<% present @user do |user_presenter| %>
  <%= render layout: "shared/more_options/main" do %>
    <%= render layout: "shared/more_options/content" do %>
      <dl>
        <dt>Name</dt>
        <dd><%= user_presenter.name %></dd>

        <dt>Email</dt>
        <dd><%= user_presenter.mailto_link %></dd>
      </dl>

      <h2>Quick stats</h2>
      <dl>
        <dt>Techniques #</dt>
        <dd><%= @user_cache.techniques_count %></dd>

        <dt>Notes #</dt>
        <dd><%= @user_cache.notes_count %></dd>

        <dt>Studies #</dt>
        <dd><%= @user_cache.studies_count %></dd>

        <dt>Joined</dt>
        <dd><%= user_presenter.timestamp %></dd>
      </dl>
    <% end %>

    <% if current_user == @user %>
      <%= render layout: "shared/more_options/sidebar" do %>
        <h1>
          Options
          <button class="more-options__expand button--small">+</button>
        </h1>

        <ul class="toggleable">
          <li>
            <%= user_presenter.edit_link %>
          </li>
          <li>
            <%= user_presenter.destroy_link %>
          </li>
        </ul>
      <% end %>
    <% end %>
  <% end %>

<% end %>
