<%= render layout: "shared/controls" do %>
  <%= link_to "Add new", new_study_path, class: "button" %>
<% end %>

<% cache [current_user, @studies] do  %>
  <div class="studies__list">
    <% if @studies.present? %>
      <ul>
        <% @studies.each do |study| %>
          <li>
            <%= link_to study.name, study %>

            <div class="studies__list__meta">
              <% if study.scores.present? %>
                Average score <%= study.cached_average_score %>%<br>
                <%# TODO: fix law of demeter violation %>
                Studied <%= time_ago_in_words study.newest_score.created_at %> ago
              <% else %>
                Never studied
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>You have no studies</p>
    <% end %>
  </div>
<% end %>
