<div class="new-study">
  <%= simple_form_for @study do |f| %>
    <%= f.error_notification %>
    <%= f.input :name, label: "Name of study" %>

    <label for="new-study__query">Search query:</label>
    <input type="text" class="new-study__query" id="new-study__query">

    <div class="new-study__results"></div>

    <div class="new-study__picks">
      <h2>Picked technqiues</h2>
      <p>You have not picked any technqiues yet</p>
    </div>

    <%= f.error :base %>
    <%= f.button :submit %>
  <% end %>
</div>
