<%= simple_form_for @study do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, label: "Name of study" %>

  <label for="study-search-query">Search query:</label>
  <input type="text" id="study-search-query">

  <div class="picked-techniques">
    <h2>Picked technqiues</h2>
    <p>You have not picked any technqiues yet</p>
  </div>

  <%= f.error :base %>
  <%= f.button :submit %>
<% end %>
