<%= render layout: "shared/controls" do %>
  <div class="controls__primary">
    <%= link_to "Study this", study_study_path(@study), class: "button" %>
  </div>

  <%= link_to "Edit", edit_study_path(@study), class: "button" %>

  <%= link_to "Delete", study_path(@study), class: "button button--red", method: :delete, data: { confirm: "Sure?" } %>
<% end %>

<h1>
  <%= @study.name %>
</h1>

<dl>
  <dt>Techniques</dt>
  <dd>
    <%= @study.techniques.count %>
  </dd>

  <dt>Studied</dt>
  <dd>
    <%= pluralize @study.cached_scores_count, "time" %>
  </dd>

  <dt>Average score</dt>
  <dd>
    <%= @study_cache.average_score %>%
  </dd>

  <dt>Last study</dt>
  <dd>
    <% if @study.scores.present? %>
      <% present @study.newest_score do |score_presenter| %>
        <%= score_presenter.timestamp %>
      <% end %>
    <% else %>
      Never studied this
    <% end %>
  </dd>
</dl>

<div class="stats-container">
  <h2>Statistics</h2>
  <% if @study.scores.present? %>
    <div id="scores_chart"></div>
  <% else %>
    <p>You haven't studied this yet.</p>
  <% end %>
</div>
