<%= render layout: "shared/controls", locals: { heading: @study.name } do %>
  <%= link_to "Study this", study_study_path(@study), class: "button" %>
<% end %>

<%= render layout: "shared/more_options/main" do %>
  <%= render layout: "shared/more_options/content" do %>
    <dl>
      <dt>Number of techniques</dt>
      <dd>
        <%= pluralize @study.techniques.count, "technique" %>
      </dd>

      <dt>Number of times studies</dt>
      <dd>
        <%= pluralize @study.cached_scores_count, "time" %>
      </dd>

      <dt>Average score</dt>
      <dd>
        <%= @study.cached_average_score %>%
      </dd>

      <dt>Last study</dt>
      <dd>
        <% if @study.scores.present? %>
          <% present @study.newest_score do |score_presenter| %>
            <%= score_presenter.timestamp %>
          <% end %>
        <% else %>
          Never studied this
        <% end %>
      </dd>
    </dl>
  <% end %>

  <%= render layout: "shared/more_options/sidebar" do %>
    <h1>
      Options
      <button class="more-options__expand button--small">+</button>
    </h1>

    <ul>
      <li>
        <%= link_to "Edit", edit_study_path(@study), class: "button button--small" %>
      </li>
      <li>
        <%= link_to "Delete", study_path(@study), class: "button button--small button--red", method: :delete, data: { confirm: "Sure?" } %>
      </li>
    </ul>
  <% end %>
<% end %>

<div class="stats-container">
  <h2>Statistics</h2>
  <% if @study.scores.present? %>
    <div id="scores_chart"></div>
  <% else %>
    <p>You haven't studied this yet.</p>
  <% end %>
</div>
