<header class="controls">
  <h1 class="controls__heading"><%= @study.pretty_print %></h1>

  <div class="controls__container">
    <%= link_to "Study this", study_study_path(@study), class: "button" %>
  </div>
</header>

<dl>
  <dt>Number of techniques</dt>
  <dd>
    <%= pluralize @study.techniques.count, "technique" %>
  </dd>

  <dt>Number of times studies</dt>
  <dd>
    <%= pluralize @study.cached_scores_count, "time" %>
  </dd>

  <dt>Average score</dt>
  <dd>
    <%= @study.cached_average_score %>%
  </dd>

  <dt>Last study</dt>
  <dd>
    <% if @study.scores.present? %>
      <%= timestamp @study.newest_score %>
    <% else %>
      Never studied this
    <% end %>
  </dd>
</dl>

<div class="stats-container">
  <h2>Statistics</h2>
  <% if @study.scores.present? %>
    <div id="scores_chart"></div>
  <% else %>
    <p>You haven't studied this yet.</p>
  <% end %>
</div>
