<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <% if @page_title.present? %>
    <title><%= @page_title %> | Shinson Learning</title>
  <% else %>
    <title>Shinson Learning</title>
  <% end %>
  <meta name="viewport" content="width=device-width, minimal-ui, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="main-header">
  <a class="main-header__logo" href="<%= root_path %>">
    <%= image_tag "ssh-logo.png" %>

    Shinson Learning
  </a>

  <button class="main-header__toggle-nav button--small">Menu</button>

  <nav class="main-header__nav">
    <% if user_signed_in? %>
      <%= link_to "Techniques", techniques_path %>
      <%= link_to "Studies", studies_path %>
      <%= link_to "Questions", questions_path %>
      <%= link_to "Profile", current_user %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <%= link_to_if current_user.admin?, "Admin", admin_root_path %>
      <%# <a class="icon-search" href="#"></a> %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %>
  </nav>
</header>

<div class="main">
  <% if notice.present? || alert.present? %>
    <div class="flash flash--<%= if notice.present? then "notice" else "alert" end %>">
      <%= notice %>
      <%= alert %>
      <button class="flash__close icon-close">
        <span class="screen-reader-text">
          Close
        </span>
      </button>
    </div>
  <% end %>

  <%= yield %>

  <footer class="main-footer">
    Built by <a href="mailto:david.pdrsn@gmail.com">David Pedersen</a>,
    contribute on <a href="https://github.com/davidpdrsn/Shinson-Learning">GitHub</a>,
    report a <a href="https://github.com/davidpdrsn/Shinson-Learning/issues/new">bug</a>
  </footer>
</div>

</body>
</html>
